<ion-modal-view class="faq-modal">
	<ion-content>
		<div class="dbl-margin text-center">
			<img src="assets/images/001.png" width="96px" alt="">
		</div>

		<section class="dbl-padding-horizontal">
			<h4>一、关于名校贷</h4>
			<p>
				<h5 class="calm">1、名校贷是谁？</h5>
				名校贷是上海麦子金服旗下一家为全日制统招在校大学生（专科及以上学历）量身打造的无抵押无担保的借款平台。自正式上线以来，交易量以月均53%的速度稳步增长，跻身当前国内最热门的大学生借款平台之一，被誉为“中国版SOFI”。其母公司麦子金服多次获得主流媒体报道，四个月内连续三次被央视报道，刷新了业内纪录，成为业内标杆。
			</p>
			<p>
				<h5 class="calm">2、名校贷产品有何特点？</h5>
				借款月息低至0.99%；最快5秒闪电到账；借款金额100-50000元；手续简单，仅需11分钟即可完成借款；只要你是大学生，都能申请借款。
			</p>
			<h4>二、关于额度</h4>
			<p>
				<h5 class="calm">1、名校贷能给我多少额度？</h5>
				名校贷提供的额度灵活，最高可以提供50000元的额度，无论是旅游、购物、进修还是创业，足够日常需求啦。
			</p>
			<p>
				<h5 class="calm">2、额度怎么涨？和什么因素相关？</h5>
				名校贷通过系统大数据，会根据借款人所提供的信息自动匹配到相应的借款额度。额度提升主要同借款人的学校批次、学历等级、户籍地区、评分等级等因素相关。
			</p>
			<p>
				<h5 class="calm">3、我应该如何提升额度？</h5>
				在填写借款申请时，填写的信息越完善，额度提升的机会越大哦。<br>
				如何使用额度？<br>
				方式一：登录名校贷官方网站（<a href="http://mx.nonobank.com" class="energized">http://mx.nonobank.com</a>），填写借款申请即可；<br>
				方式二：下载名校贷APP，填写借款申请即可。<br>
			</p>
			<h4>三、其他问题</h4>
			如有其它问题，可关注名校贷官方微信<span class="energized">woshibangke</span>，或登录名校贷官网咨询在线客服，或拨打名校贷电话客服<a href="tel:4000646668" class="energized">4000-646-668</a>。
		</section>
	</ion-content>
	<ion-footer-bar>
		<button class="button button-positive button-round" ng-click="hide()">知道了</button>
	</ion-footer-bar>
</ion-modal-view>